{% extends "layout.html" %}

{% block body %}
    <h2>Entries</h2>
    <table class="primary">
        <thead>
            <tr>
                <th></th> <!-- Expand/Contract -->
                <th>Location</th>
                <th>Tagline</th>
                <th>Tags</th>
                <th></th> <!-- Upvote -->
                <th></th> <!-- Downvote -->
                <th></th> <!-- Link -->
                <th></th> <!-- Delete -->
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
                <tr>
                    <td><button onclick="Expand('{{entry._id}}')">O</button></td>
                    <td>{{entry["location"]}}</td>
                    <td>{{entry["tagline"]}}</td>
                    <td>
                        {% for tag in entry.tags %}
                            {% if tag == "unknown" %}
                                <span class="label error">{{tag}}</span>
                            {% else %}
                                <span class="label">{{tag}}</span>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td><button class="success" onclick="Upvote('{{entry._id}}')">^</button></td>
                    <td><button class="error" onclick="Downvote('{{entry._id}}')">v</button></td>
                    <td><a href="{{entry['url']}}" target="_blank"><button class="success">></button></a></td>
                    <td><button class="error" onclick="Delete('{{entry._id}}')">X</button></td>
                </tr>
                <tr id="{{entry._id}}" style="display: none;">
                    <td colspan="2">{{entry["date"].strftime("%b %d, %H:%M")}}</td>
                    <td colspan="6">{{entry["description"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script>
        function Expand (id) {
            $("#" + id).toggle();
        }
        function Delete (id) {
            console.log("Delete" + id)
            $.post("{{url_for('delete_entry')}}", { id: id }, function (response) {
                console.log(response);
                // TODO: Remove the entry on the front end (vue.js could help with this)
            });
        }
        function Update (id) {
            // TODO
        }
        function Downvote (id) {
            // TODO
        }
    </script>
{% endblock %}
