{% extends "layout.html" %}

{% block body %}
    <h2>Entries</h2>
    <table id="entryTable" class="primary">
        <thead>
            <tr>
                <th></th> <!-- Expand/Contract -->
                <th>Source</th>
                <th>Date</th>
                <th>Location</th>
                <th>Tags</th>
                <th>Tagline</th>
                <th>Description</th>
                <!--<th></th> -- Upvote -->
                <!--<th></th> -- Downvote -->
                <th></th> <!-- Link -->
                <th></th> <!-- Delete -->
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
                <tr data-id="{{entry._id}}"
                {% if entry.viewed %}
                class="viewed"
                {% endif %}
                >
                    <td><button class="expandBtn">i</button></td>
                    <td>{{entry["source"]}}</td>
                    <td>{{entry["date"].strftime("%b %d, %H:%M")}}</td>
                    <td>{{entry["location"]}}</td>
                    <td>
                        {% for tag in entry.tags %}
                            {% if tag == "unknown" %}
                                <span class="label error">{{tag}}</span>
                            {% else %}
                                <span class="label">{{tag}}</span>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{entry["tagline"]}}</td>
                    <td>{{entry["description"]}}</td>
                    <!--
                    <td><button class="success" onclick="Upvote('{{entry._id}}')">^</button></td>
                    <td><button class="error" onclick="Downvote('{{entry._id}}')">v</button></td>
                    -->
                    <td><a href="{{entry['url']}}" target="_blank" class="item-external"><button class="success">></button></a></td>
                    <td><button class="error" onclick="Delete('{{entry._id}}')">X</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script>
        var table;

        function formatChildRow (d) {
            return '<div style="background-color: #EEE;">' + d[6] + '</div>';
        }

        $(document).ready(function () {
            table = $("#entryTable").DataTable({
                "dom": "Blfrtip",
                "buttons": [
                    "colvis"
                ],
                "lengthMenu": [[50, 100, 250, -1], [50, 100, 250, "All"]],
                "columnDefs": [
                    {
                        "targets": [0, 7, 8],
                        "searchable": false,
                        "orderable": false
                    }, {
                        "targets": [6],
                        "visible": false,
                    }
                ]
            });

            $("#entryTable").on("click", "td button.expandBtn", function () {
                var tr = $(this).closest("tr"),
                    row = table.row(tr);

                if (row.child.isShown()) {
                    row.child.hide();
                } else {
                    row.child(formatChildRow(row.data())).show()
                }
            });

            $("a.item-external").on("click", function () {
                var tr = $(this).closest("tr"),
                    id = tr.data("id");
               $.post("{{url_for('entry_viewed')}}", { id: id }, function (response) {
                    tr.addClass("viewed");
                    // TODO: Check response
                });
            });
        });
        function Delete (id) {
            $.post("{{url_for('delete_entry')}}", { id: id }, function (response) {
                // TODO: Check response and remove the entry on the front end (vue.js could help with this)
            });
        }
        function Upvote (id) {
            // TODO
        }
        function Downvote (id) {
            // TODO
        }
    </script>
{% endblock %}
