{% extends "layout.html" %}

{% block nav %}
<nav>
    <a href="#" class="brand">
        <span>Free Stuff Tagger</span>
    </a>
    <div class="menu">
        <label for"preferences_modal class="button">Preferences</labal>
    </div>
</nav>
{% endblock %}

{% block body %}
    <h2>Entries</h2>
    <table id="entryTable" class="primary compact hover">
        <thead>
            <tr>
                <th></th> <!-- Expand/Contract -->
                <th></th> <!-- Link -->
                <th>Source</th>
                <th>Date</th>
                <th>Tags</th>
                <th>Tagline</th>
                <th>Location</th>
                <th>Description</th>
                <th>Lat</th>
                <th>Long</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
                <tr data-id="{{entry._id}}"
                {% if entry.viewed %}
                class="viewed"
                {% endif %}
                >
                    <td><button class="expandBtn" style="margin: 0px; height: 9px;"></button></td>
                    <td><a href="{{entry['url']}}" target="_blank" class="item-external"><button class="success" style="margin: 0px; height: 9px;"></button></a></td>
                    <td>{{entry["source"]}}</td>
                    <td>{{entry["date"].strftime("%b %d, %H:%M")}}</td>
                    <td>
                        {% for tag in entry.tags %}
                            {% if tag == "unknown" %}
                                <span class="label error">{{tag}}</span>
                            {% else %}
                                <span class="label">{{tag}}</span>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{entry["tagline"]}}</td>
                    <td>{{entry["location"]}}</td>
                    <td>{{entry["description"]}}</td>
                    <td>{{entry["lat"]}}</td>
                    <td>{{entry["long"]}}</td>
                    <td>{{entry["url"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="map" style="height: 520px;"></div>

    <div class="preferences_modal">
        <h3>Preferences</h3>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var table, map,
            map_markers = [],
            infoWindow;

        function formatChildRow (d) {
            return '<div style="background-color: #EEE;">' + d[6] + '</div>';
        }

        $(document).ready(function () {
            table = $("#entryTable").DataTable({
                "dom": "Blfrtip",
                "buttons": [
                    "colvis"
                ],
                "lengthMenu": [[50, 100, 250, -1], [50, 100, 250, "All"]],
                "columnDefs": [
                    {
                        "targets": [0, 1],
                        "searchable": false,
                        "orderable": false
                    }, {
                        "targets": [2, 3, 4, 6],
                        "visible": false,
                    }, {
                        "targets": [8, 9],
                        "searchable": false,
                        "orderable": false,
                        "visible": false
                    }
                ]
            });

            $("#entryTable").on("click", "td button.expandBtn", function () {
                var tr = $(this).closest("tr"),
                    row = table.row(tr);

                if (row.child.isShown()) {
                    row.child.hide();
                } else {
                    row.child(formatChildRow(row.data())).show()
                }
            });

            $("a.item-external").on("click", function () {
                var tr = $(this).closest("tr"),
                    id = tr.data("id");
               $.post("{{url_for('entry_viewed')}}", { id: id }, function (response) {
                    tr.addClass("viewed");
                    // TODO: Check response
                });
            });
        });
        function Delete (id) {
            // TODO: Make this hides entries instead of deleting them so that we keep all the data
            $.post("{{url_for('delete_entry')}}", { id: id }, function (response) {
                // TODO: Check response and remove the entry on the front end (vue.js could help with this)
            });
        }
        function Upvote (id) {
            // TODO
        }
        function Downvote (id) {
            // TODO
        }

        function bindInfoWindow(marker, map, content) {
            marker.addListener('click', function() {
                infowindow.setContent(content);
                infowindow.open(map, this);
            });
        }

        function clearMapMarkers() {
            for (var i = 0; i < map_markers.length; i++) {
                map_markers[i].setMap(null);
            }
            map_markers.length = 0;
        }

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: { lat: 37.751425, lng: -122.434130 }
            });
            infowindow = new google.maps.InfoWindow({ maxWidth: 300 });

            $("#entryTable").on("draw.dt", function () {
                var visibleRows = table.$('tr', {"page":"current"}),
                    data = table.rows(visibleRows).data();
                clearMapMarkers();
                marker_location_dict = {};
                for (var i = 0; i < data.length; i++) {
                    var tagline = data[i][5],
                        lat = Number(String(data[i][8]).replace(/[^\d.-]/g, "")),
                        lng = Number(String(data[i][9]).replace(/[^\d.-]/g, "")),
                        url = data[i][10],
                        content = '<div class="marker-entry"><a href="' + url + '" target="_blank">' + tagline + '</a></div>'
                        dict_key = String(lat) + String(lng);
                    if (marker_location_dict[dict_key]) {
                        var marker = marker_location_dict[dict_key];
                        marker.content += content;
                        marker.label = String(Number(marker.label) + 1)
                    } else {
                        var marker = new google.maps.Marker({
                            position: { lat: lat, lng: lng },
                            map: map,
                            label: "1"
                        });
                        marker.content = content;
                        map_markers.push(marker);
                        marker_location_dict[dict_key] = marker;
                    }
                }

                for (var k in marker_location_dict) {
                    var marker = marker_location_dict[k];
                    bindInfoWindow(marker, map, marker.content);
                }
            });

            table.draw();
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_API_KEY}}&callback=initMap" type="text/javascript"></script>
{% endblock %}
