{% extends "layout.html" %}

{% block head %}
    <style>
        h1 {
            font-size: 10vw;
            text-align: center;
            padding-bottom: 0px;
        }
        h4 {
            font-size: 3vw;
            text-align: center;
            padding-top: 0px;
            font-style: italic;
        }
    </style>
{% endblock %}


{% block body %}
    <h1>Macdaddy.biz</h1>
    <h4>Because it's a business</h4>
    <div style="margin: auto; width: 187px;"><a href="{{url_for('login')}}"><img src="{{url_for('static', filename='img/btn_google_signin_dark_normal_web.png')}}"></img></a></div>
  <!--
  <ul class=navigation>
    <li><a href="{{ url_for('index') }}">overview</a></li>
    {% if g.user %}
        <li><a href="{{ url_for('logout') }}">sign out [{{ g.user.screen_name}}]</a></li>
    {% else %}
        <li><a href="{{ url_for('login') }}">sign in</a></li>
    {% endif %}
</ul>

  <h2>Overview</h2>
  {% if g.user %}
    <p>
      Hello {{ g.user.screen_name }}!  Wanna tweet something?
    </p>
    <form action="{{ url_for('tweet') }}"  method=post>
      <p>
        <input type=text name=tweet size=40>
        <input type=submit value="Tweet!">
      </p>
    </form>
    {% if tweets %}
    <h3>Your Timeline</h3>
    <ul>
    {% for tweet in tweets %}
      <li><a href="http://twitter.com/{{ tweet.user.screen_name
        }}">{{ tweet.user.screen_name }}</a>: {{ tweet.text|urlize }}</li>
    {% endfor %}
    </ul>
    {% endif %}
  {% else %}
    <p>
      Sign in to view your public timeline and to tweet from this
      example application.
    </p>
    <p>
      <a href="{{ url_for('login') }}"><img src="{{
        url_for('static', filename='sign-in.png') }}" alt="sign in"></a>
    </p>
  {% endif %}
-->
{% endblock %}
